{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Youtube Trending</title>
</head>
<body>

  <h1>YouTube Trending</h1>
  <img width = "200" height = "100" src="{% static 'youtube_logo.jpg' %}">
  <p>In this assignment, we set out to find 
    the relationship between YouTube trending videos 
    to their corresponding days after published and hour of day. 
  </p>
  <img width = "500" height = "300" src="{% static 'social_media.png' %}">
  <p>
    Most people here have used YouTube a lot. Worldwide, YouTube is the second most used social media platforms with about 2.29 billion people have predominantly used YouTube.
  </p>
  <p>
    We examine the trending YouTube videos because we are curious about whether there is psychology affected when examining how YouTube can trend based on the hour of day it's published or how long can trending videos be relevant for.
  </p>
  <nav>
    <ul>
      <li><a href="{% url 'first_data' %}">Data By Days</a></li>
    </ul>
    <ul>
      <li><a href="{% url 'second_data' %}">Data by Hours</a></li>
    </ul>
    <ul>
      <li><a href="{% url 'third_data' %}">Data by Views</a></li>
    </ul>
  </nav>

</body>
</html>