{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>Data</title>
</head>
<body>

  <h1>Data by Views</h1>
  <p>This data examines the relationship between the number of videos to the number of views.</p>
  <img width = "1300" height = "600" src="{% static 'num_of_vid_by_view.png' %}">

  <p>From what we can gather in this graph,, </p>
  <nav>
    <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
    </ul>
    <ul>
      <li><a href="{% url 'first_data' %}">Data By Days</a></li>
    </ul>
    <ul>
      <li><a href="{% url 'second_data' %}">Data by Hours</a></li>
    </ul>
  </nav>

</body>
</html>